* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: azure;
}

#title-container {
    border: 4px solid black;
}

#title {
    color: chocolate;
    font-size: 30px;
}